h1 {
    color: black;
    font-size: 15px;
    text-align: left;
    font-style: normal;
}

h2 {
    color: black;
    font-size: 15px;
    text-align: left;
    font-style: normal;
}

p {
    color: black;
    font-size: 15px;
    text-align: left;
    font-style: normal;
}